
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/.qmake.stash
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/main.obj
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/mainwindow.obj
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/moc_mainwindow.cpp
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/moc_mainwindow.obj
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/moc_oglwidget.cpp
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/moc_oglwidget.obj
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/moc_predefs.h
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/oglwidget.obj
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/opengl1.exe
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/opengl1.ilk
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/opengl1.pdb
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/debug/opengl1.vc.pdb
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile.Debug
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile.Release
CP_Aufgabe_2/opengl2/build-opengl2-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/ui_mainwindow.h
*.user
