
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/ui_mainwindow.h
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/opengl-Billard.exe
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/oglwidget.o
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_oglwidget.o
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_oglwidget.cpp
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_mainwindow.o
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/mainwindow.o
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
CP - Aufgabe 5_1/build-opengl-Billard-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
CP - Aufgabe 5_1/Billard_nEck/opengl-Billard.pro.user
CP - Aufgabe 5_1/Billard_nEck/oglwidget.h
CP - Aufgabe 5_1/Billard_nEck/oglwidget.h
CP - Aufgabe 5_1/Billard_nEck/oglwidget.h
CP - Aufgabe 5_1/Billard_nEck/oglwidget.h
